

h1, h2 {
    color: blue;
}

p {
    color: green;
}

.cor-laranja {
    color: orange;
}

.cor-laranja:hover {
    color: rgb(244, 199, 117)
}

h1:hover {
    color: aqua;
}

.card img {
    width: 200px;
    height: 200px;
    border: 5px solid red;
    margin-bottom: 20px;
    padding: 10px;
}