* {
    font-size: 10px;
}

h1, h2 {
    color: blue;
}

p {
    color: green;
}

.cor-laranja {
    color: orange;
}

.cor-laranja:hover {
    color: rgb(244, 199, 117)
}

h1:hover {
    color: aqua;
}

.card img {
    width: 200px;
    height: 200px;
}

#title {
    background-color: aqua;
}